alias hpc='ssh marvin'

alias aptupd='sudo apt update'
alias aptupg='sudo apt upgrade -y'

alias weather='clear && curl wttr.in'

# functions

mkcd() {
  mkdir -p "$1" && cd "$1"
}

aptins() {
    sudo apt install "$@"
}
